.DS_Store
node_modules
functions/node_modules
public/bundle.*
public/*.monaco.*
public/*.ttf
public/[0-9]*.[0-9]*.js
public/[0-9]*.[0-9]*.css
/dist
src/config

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*firebase*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.firebase/*
