//
// MDC Theme
//

@import "@material/theme/color-palette";

$mdc-theme-primary: #3dd7ac;
$mdc-theme-on-primary: #1a0e48;

$mdc-theme-secondary: #1a0e48;
$mdc-theme-on-secondary: #fff;

$mdc-theme-background: #f0f0f0;
$mdc-theme-surface: #f0f0f0;

$mdc-theme-error: $material-color-red-900;
