//
// MDC Theme
//

@import "@material/theme/color-palette";

@import "@material/button/mdc-button";
@import "@material/ripple/variables";
@import "@material/theme/variables";

$mdc-theme-primary: #ff2afc;
$mdc-theme-on-primary: #ffd319;

$mdc-theme-secondary: #42c6ff;
$mdc-theme-on-secondary: #ff0081;

$mdc-theme-background: #0c0a20;
$mdc-theme-surface: #24264f;

$mdc-theme-error: #f4225a;

$mdc-typography-styles-button: (
  font-family: "Press Start 2P",
  font-size: 16px,
  text-transform: lowercase,
  font-weight: 700,
  letter-spacing: -0.1em,
);

$mdc-checkbox-mark-color: #ff0081;

